::-webkit-scrollbar {
    display: none;
}

/* hide scrollbar but still maintain scrolling for firefox */
html {
    scrollbar-width: none;
}

body {
    /* set text color to EDF2F4*/
    color: #EDF2F4;
    background-color: #2b2118;
    overflow: hidden;
}



/* Navbar */
.navbar {
    background-color: #20a4f3;
    border-bottom: 10px solid #2D4739;
}
/* set all non logo nav elements to black and slowly transitions to #EDF2F4 on hover */
.nav-button {
    border: none;
    color: #2b2118;
    transition: 0.5s;
}
.nav-button:hover {
    color: #EDF2F4;
}



/* Body content below navbar will remain below navbar and is fit to viewport height */
.platform-content {
    margin-top: 100px;
    max-height: calc(100vh - 100px);
}


/* HAMBURGER MENU */
.sidebar {
    background-color: #2D4739;
    height: calc(100vh - 101px);  
}
.sidebar button {
    color: #EDF2F4;
    border: none;
    font-size: 100%;
    font-family: inherit;
    padding: 0;
    background-color: #2D4739;
    transition: 0.3s;
    width: fit-content;
}
.sidebar button:hover {
    color: #EDF2F47e;
}

#hamburger-menu {
    height: 100vh;
    max-width: 50vw;
}



/* MESSAGE STREAM */
.email-stream {
    background-color: #2b2118;
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
}
.message-stream {
    color: #EDF2F4;
    height: 100VH;
}
/* set background of email select cards and box shadow on hover*/
.email-select {
    background-color: #20a4f3;
    transition: 0.2s;
}
.email-select:hover {
    background-color: #0d93e1;
    box-shadow: 0 0 15px 5px #Edf2f4;
}



/* READ EMAIL */
.email-read {
    border-left: 15px solid#2D4739;
    background-color: #EDF2F4;
    color: #2b2118;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    
}
.email-respond-button {
    background-color:#2b2118;
    color:#EDF2F4
}
#email-respond {
    border: 5px solid #2D4739;
}




/* Meatball menu appearance size % change at breakpoints */
#meatball-menu {
    margin-top: 101px;
    background-color: #2D4739;
}
/* Fullscreen */
@media screen and (max-width: 5000px ) {
    #meatball-menu {
        min-width: 50%;
    }
}
/* Tablet */
@media screen and (max-width: 1200px ) {
    #meatball-menu {
        min-width: 83.5%;
    }
}
/* Mobile */
@media screen and (max-width: 767px) {
    #meatball-menu {
        min-width: 100%;
    }
}
#profile-picture {
    font-size: 3.5em;
}
#user-profile {
    color: #EDF2F4;
    transition: 0.3s;
}
#user-profile:hover {
    color: #edf2f47e;
}
#option-selection button {
    background-color: #2D4739;
    border: none;
    color: #EDF2F4;
    transition: 0.3s;
    font-size: 100%;
    font-family: inherit;
    padding: 0;
}
#option-selection button:hover {
    color: #EDF2F47e;
}



/* Exit Button */
.exit-button {
    background-color: #2D4739;
    color: #EDF2F4;
    border: none;
    transition: 0.3s;
}
.exit-button:hover {
    color: #2b2118;
}


/* Compose Button */
#compose-button, #email-send-button {
    margin-left: 115px;
    margin-bottom: 20px;
    background-color: #EDF2F4;
    color: #2b2118;
    border: none;
    transition: 0.3s;
}
#compose-button:hover, #email-send-button:hover {
    background-color: #cdd3d5;
    color: #2b2118;
    border: none;
}




/* Send New Email */
#email-new {
    background-color: #2D4739;
    color: #EDF2F4;
    width: 75%;
    height: 60%;

}
.compose-exit-button {
    background-color: #2D4739;
    color: #EDF2F4;
    border: none;
}
.compose-exit-button:hover {
    color: #2b2118;
}